[Unit]
Description=Deepspeech Audio Transcription Service
After=autofs.service data.mount
Requires=autofs.service data.mount
RequiresMountsFor=/data
ConditionPathIsMountPoint=/data

[Service]
PIDFile=/run/deepspeech-server
ExecStart={{ deepspeech_install_location }}/run_deepspeech_server.sh
PrivateTmp=true

[Install]
WantedBy=multi-user.target
