[Unit]
Description=Deepspeech Audio Transcription Service
After=autofs.service data.mount
Requires=autofs.service data.mount
RequiresMountsFor=/data
ConditionPathIsMountPoint=/data

[Service]
PIDFile=/run/deepspeech-server
ExecStart=/usr/bin/bash -c "source {{ deepspeech_install_location }}/bin/activate; python deepspeech-server --config {{ deepspeech_server_config_path }}""
PrivateTmp=true

[Install]
WantedBy=multi-user.target